<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_css/reserve.css') }}">
    <title>Reserve Parking Spot</title>
</head>
<body >
    <div class="container">
    <h2 class="header">Reserve Parking Spot</h2>

    <form action="/user/reserve/{{ parking_lot.id }}" method="post">
        <label for="userid">User id:</label>
        <input type="text" id="userid" name="userid" value="{{ user.id }}" readonly>
        <label for="parking_lot_id">Parking Lot ID:</label>
        <input type="text" id="parking_lot_id" name="parking_lot_id" value="{{ parking_lot.id }}" readonly>
        <label for=""spot_id"">Spot ID:</label>
        <input type="text" id="spot_id" name="spot_id" value="{{ spot.id }}" readonly>
        <label for=""price">Price:</label>
        <input type="text" id="price" name="price" value="{{ parking_lot.price }}" readonly>
        <label for=""vehicle_number"">Vehicle Number:</label>
        <input type="text" id="vehicle_number" name="vehicle_number" value="{{ vehicle_number }}" required>
        


        <button type="submit">Reserve</button>
    </form>
</div>
</body>
</html>