<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/user_css/user_base.css') }}"
  />
  {% block css %}
    
  {% endblock css %}
    <title>ParkPoint :User</title>
</head>
<body>
    <nav>
         <p style=" font-size:20px;">Welcome to User</p>
         <div class="group">
            <a href="/user/dashboard">Home</a>
            <a href="/user/summary">Summary</a>
            <a href="/logout" style="border-right:none !important;">Logout</a>
         </div>
         <a href="/user/profile" style="text-decoration:none; color:black;">Edit Profile</a>
    </nav>
    <main>
    {% block body_user %}
        
    {% endblock body_user %}
    </main>
    {% block script %}

    {% endblock script %}
</body>
</html>